.pro-column {
  color: white;
}

.pro-container {
  background-image: cover;
}

h3#profile-name, h2#profile-name {
  padding-bottom: 30px;
  padding-top: 30px;

}
#profile-content {
    color:white;
}

#pro-content {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600px;
}



