<div class="container pb-5">
  <div class="row pb-5 pt-5">
    <div class="col-sm-6">
      <div class="cards">
         <div class="booking show">
          <h2>Upcoming Trips</h2>

            <% @bookings.each do |booking| %>
            <% if booking.start_date > DateTime.now.to_date  %>
            <li><%= link_to "Airport: #{booking.airplane.airport}, Type: #{booking.airplane.title}, #{booking.start_date} to #{booking.end_date}", booking_path(booking) %></li>
            <% else %>
            <% end %>
          <% end %>


        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="cards">
         <div class="booking show">
          <h2>Previous Trips</h2>

            <% @bookings.each do |booking| %>
            <% if booking.start_date < DateTime.now.to_date  %>
            <li><%= link_to "Airport: #{booking.airplane.airport}, Type: #{booking.airplane.title}, #{booking.start_date} to #{booking.end_date}", booking_path(booking) %></li>
            <% else %>
          <% end %>
        <% end %>


        </div>
      </div>
    </div>
  </div>
</div>
