<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>
<div class="cards">
  <div class="booking show">
  <ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.airplane.title %></li>
    <div class="booking destroy">
    <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure you want to cancel this trip?'} do %>
    <p class="fa fa-trash"></p>
    <% end %>
  </div>
  <% end %>
  </ul>
  </div>

</div>
