<div class="background-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530476219733-88085e45aa2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1713&q=80);">
<div class="container pb-5">
  <div class="row pb-5 pt-5">
    <div class="col-sm-6">
      <div class="cards">
         <div class="booking show">
          <h2 class="booking-title">Upcoming Trips</h2>

            <% @bookings.each do |booking| %>
            <% if booking.start_date > DateTime.now.to_date  %>
            <div class="booking-container"><%= link_to "Airport: #{booking.airplane.airport}, Type: #{booking.airplane.title}, #{booking.start_date.strftime("%b %d, %Y")} to #{booking.end_date.strftime("%b %d, %Y")}", booking_path(booking), class:"booking-link" %></div>
            <% else %>
            <% end %>
          <% end %>


        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="cards">
         <div class="booking show">
          <h2 class ="booking-title">Previous Trips</h2>

            <% @bookings.each do |booking| %>
            <% if booking.start_date < DateTime.now.to_date  %>
            <div class="booking-container"><%= link_to "Airport: #{booking.airplane.airport}, Type: #{booking.airplane.title}, #{booking.start_date.strftime("%b %d, %Y")} to #{booking.end_date.strftime("%b %d, %Y")}", booking_path(booking), class:"booking-link" %></div>
            <% else %>
          <% end %>
        <% end %>


        </div>
      </div>
    </div>
  </div>
</div>
</div>
