<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, input_html: {value: ""} %>
  <%= f.submit "Reserve", class: "btn btn-primary" %>
<% end %>
