<h1>Users#show</h1>
<p>Upcoming Bookings</p>


<% @bookings.each do |booking| %>
  <p><%= booking.start_date %></p>
  <p><%= booking.airplane.title %></p>
  <%= link_to "See details", booking %>
  <hr>
<% end %>
