<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.paramountbusinessjets.com/blog/wp-content/uploads/2019/09/aircraft-in-sky-2000.jpg);">
  <div class="container">
    <h1>RENT A PLANE</h1>
    <p>Fly private anywhere around the world.  Use RENT A PLANE.</p>
  </div>
</div>
