<div class="container-product">
<div class="card-product">
  <img src="https://www.aopa.org/-/media/images/aopa-main/news-and-media/2019/july/0701_c210.jpg" />
  <div class="card-product-infos">
    <h2>Cesna</h2>
    <p>Small personal plane, perfect for short trips & small groups.</p>
  </div>
</div>
<div class="card-product">
  <img src="https://g.foolcdn.com/editorial/images/168693/f-16.jpg" />
  <div class="card-product-infos">
    <h2>Fighter jet</h2>
    <p>Perfect for dogfights & air to air combat</p>
  </div>
</div>
<div class="card-product">
  <img src="https://cdn.topmiles.com/images/mytrip/2017/Gulfstream-5-Private-Jet/68.jpg" />
  <div class="card-product-infos">
    <h2>G5</h2>
    <p>Release your inner billionare</p>
  </div>
</div>
<div class="card-product">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/B-2_Spirit_%28cropped%29.jpg" />
  <div class="card-product-infos">
    <h2>Steath bomber</h2>
    <p>Bomb people all over the world and never be seen</p>
  </div>
</div>
</div>
